.root{
  position: relative;
  left: -120px;
}

.input{
  border: 1px solid rgba(0,0,0,0.1);
  padding: 12px 20px;
  width: 380px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 45px;
  height: 45px;

  &:focus{
    border: 1px solid rgba(0,0,0,0.5);
  }
}

.searchIcon{
  opacity:0.3;
  position: absolute;
  margin-top: 15px;
  left: 15px;
  height: 18px;
  width: 18px;
}

.closeBtn{

  position: absolute;
  right:10px;
  top:15px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius:5px;

  &:hover{
    cursor: pointer;
    opacity: 0.8;
  }
}